@font-face {
  font-family: "MontserratBold";
  src: url("../public/fonts/MontserratBold-DOWZd.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "MontserratMedium";
  src: url("../public/fonts/MontserratMedium-lgZ6e.otf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "QuartzoBold";
  src: url("../public/fonts/QuartzoBold-W9lv.ttf");
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "LemonMilkBold";
  src: url("../public/fonts/lemonMilkBold.otf");
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}

.QuartzoBold {
  font-family: "QuartzoBold";
  font-weight: bold;
  font-size: 1rem;
}

.box {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #00ccff;
}
